*{padding: 0;margin: 0}
			body{background-color: #f6f6f6;}
			ul{list-style: none;}
			a{text-decoration: none;}
			.round{border-radius: 50%}
			.container{width: 700px;min-height: 800px;background-color: #e3e3e3;padding: 50px;}
			.comment_div{padding: 30px;background-color: #fff}
			.com_input_div{margin-bottom: 10px;display: flex;display:-webkit-flex;margin-bottom: 25px;align-items: center;}
			.com_input_div label{align-content: center;vertical-align: middle;}
			.com_input{padding: 8px;outline-style: none;border:1px solid #ccc;border-radius: 3px;}
			.com_top1{display: flex;display:-webkit-flex;}
			.com_tip{margin-left: 15px;color: #888;font-size: 14px;}
			.com_area_div{display: flex;flex-wrap: wrap;flex-direction: row-reverse;}
			.com_area_div textarea{width: 100%;height: 100px;outline: none;border: 1px solid #ccc;padding: 10px;resize: none;font-size: 15px;color: #666;border-radius: 3px;}
			.com_ul{margin-top: 20px;}
			.com_ul li{display: flex;border-bottom: 1px solid #EDEDED;padding: 30px 0;}
			.com_ul li:last-child{border-bottom:none}
			.com_h5{font-size: 16px;padding: 18px 0;margin-bottom: 30px;border-bottom: 1px solid #ccc;font-weight: normal;position: relative;}
			.com_h5:after{content: "";position: absolute;width: 60px;height: 2px;content: "";background: #000;left: 0;bottom: 0;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;transition: all .5s ease;}
			.com_h5:hover:after{width: 80px;}
			.com_right{flex: 1;margin-left: 15px;}
			.com_info_top{margin-bottom: 5px;color: #888;font-size: 15px;}
			.com_info_top a{font-size: 18px;color: #3cbf4c;}
			.com_info_center{text-align: justify;font-size: 15px;color: #666;margin-bottom: 15px;}
			.com_ul_bom{font-size: 14px;color: #888;}
			.com_ul_bom span{margin-right: 15px;}
			.com_two{margin-top: 16px;background-color: #f3f3f3;padding: 15px;}
			.com_two_div{font-size: 15px;color: #888;width: 100%;}
			.com_two li{flex-wrap: wrap;padding: 15px 0;}
			.com_two li :hover #replay{display: inline-block;}
			.com_two a{color: #15b6e6;}
			.com_two #replay{display: none;}
			.mb15{margin-bottom: 15px;}
			.mb5{margin-bottom: 5px;}
			.com_btn{cursor: pointer;outline: none;background-color: #15B6E6;border: none;color: #fff;padding: 8px 15px;border-radius: 3px;margin-top: 15px;}
			#replay{cursor: pointer;}
			/* 回复 */
			.replay_btn{background-color: #3CBF4C;outline: none;border: none;color: #fff;padding: 6px 25px;border-radius: 3px;align-self: flex-end;cursor: pointer;}
			.replay_div{display: flex;flex-wrap: wrap;flex-direction: row-reverse;margin-top: 15px;display: flex;width: 100%;}
			.replay_div input{width: 100%;height: 25px;padding: 8px 12px;}
			.repaly_btn_div{padding: 12px 0;flex-wrap: wrap;}
			/* 带卡片评论 */
			.com_card{height: 150px;width: 80%;background-color: #4ba4bf;margin: 0 auto;display: flex;border-radius: 8px;transition: All 1s ease-in-out;
    -webkit-transition: All 1s ease-in-out;
    -moz-transition: All 1s ease-in-out;
    -o-transition: All 1s ease-in-out;}
			.com_card_left{float: left;margin: auto;padding-left: 10px;}
			.com_card_right{float: left;width: 100%;padding:0 15px;font-size: 12px;color: #fff;margin: auto;}
			.com_card_right p{margin-bottom: 10px;}
			#create_btn{
				margin-left: 20%;
				margin-top: 15%;
			}